.anaconda
anaconda3
.android
Android/
android-studio/
.anydesk/
.cache
.cargo
.conda
.config/
.continum
.dart
.dartServer
.electrum
.empty
.expo
.fonts
.FreeCAD
.fzf
.gnome
.gnupg
.gradle
.ipython
.java
.jupyter
.kde4
.lazarus
.local
.m2
.npm
.oh-my-zsh
.pki
.pub-cache
.quokka
.rustup
.screenlayout
.ssh.
.surf
.tor-browser
.vscode
.vscode-oss
.wallaby
.yarn
anydesk
Desktop
Documents
Downloads
drive
fontsgo
godt
Music
old_files
Pictures
project_godot
Public
suckless
Templates
Videos
yay
.bash_history
.bash_logout
.bash_profile
.condarc
.fehbg
.flutter
.gitconfig
.gtkrc-2.0
.jackdrc
.lesshst
.lmmsrc.xml
.p10k.zsh
.bash_profile
.shell.pre-oh-my-zsh
.viminfo
.vimspector.log 
.Xauthority
.xsession-errors
.yarnrc
.zcompdump-arch-5.8
.zsh_history 
.zshenv
.zshrc.pre-oh-my-zsh 
.zshrc.pre-oh-my-zsh-2021-11-23_10-29-37
BL.log
Doctor_theme.m4a


# ignore all logs
*.log
wa.txt
fonts/
go/
microverse_challenge_submit.mkv
nohup.out
package-lock.json
projects_godot/
soul_of_doctor.txt
templewallet.txt
timeconversion.js 
.continuum/
.ssh/
.vim/
.profile
